/*  ==========================================================================
    Base
    ========================================================================== */

/*
    Elements
    ========================================================================== */

html {
   	font-smoothing: antialiased;
   	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $f-body;
	// Sets base to 16px
	@include rem-rwd( $fs-body );
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;

    @include breakpoint( xxlarge ) {
        font-size: calc( 1em + 1.7vw );
    }
}

/*  ==========================================================================
    Titles
    ========================================================================== */

/*
    Elements
    ========================================================================== */

// REF - http://stackoverflow.com/questions/19099401/why-use-h1-instead-of-actual-h1

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	font-family: $f-header;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 25px;
}

h1, .h1 { }

h2, .h2 { }

h3, .h3 { }

h4, .h4 { }

h5, .h5 { }

p {
	margin: 0 0 $padding/2;
}