/*  ==========================================================================
    Foundation
    ========================================================================== */

/*
    Grid
    ========================================================================== */

$grid-column-gutter: (
    small: 20px,
    medium: 40px,
);

$global-width: 1200px;
$grid-column-count: 6;
$global-flexbox: false;
$global-right: left;
$global-left: left;

/*  ==========================================================================
    Globals (Mobile First)
    ========================================================================== */

/*
    Padding and Margins
    ========================================================================== */

$padding: 40px; // Padding and margins

/*
    Widths and Heights
    ========================================================================== */

$w-container: 1600px;

/*
    Site colours
    ========================================================================== */

// $colour-name-one: #1271db;
// $colour-name-two: #233E5B;
// $colour-name-three: #aaa;

// Gray Scale
$c-white: #fff;
$c-silver: #ddd;
$c-grey: #aaa;
$c-light-grey: #ededed;
$c-black: #000;
//
$c-red: #FF4136;
$c-green: #2ECC40;
$c-blue: #0074D9;
$c-orange: #FF851B;

// Color variables
// $primary-color: $colour-name-one;
// $secondary-color: $colour-name-two;
// $tertiary-color: $colour-name-three;

// Colours through-out - prefix with c-
$c-bad: $c-red; // Bad color for errors, validation etc.
$c-good: $c-green; // Good color for success etc.
$c-info: $c-blue; // Good color for success etc.
$c-warning: $c-orange; // Good color for success etc.
$c-subtle: $c-grey; // Subtle color for subtle text

/*
    Colour Maps
    ========================================================================== */

/*
    Type Maps
    ========================================================================== */

$fs-body : (
    small: 2.2,
    medium: 3.5,
    large: 4.0
);

/*
    Fonts
    ========================================================================== */

$f-body: Montserrat, sans-serif;
$f-header: $f-body;
$f-pre: Monaco, Menlo, Consolas, "Courier New", monospace;
$f-blockquote: Georgia, Times, "Times New Roman", serif;
