/*  ==========================================================================
    Form Defaults
    ========================================================================== */

/*
    Block
    ========================================================================== */

form {
	// Wrap each form input/element in a field div
	.field{
		margin-bottom: $padding/2;
	}

	label {
		display: block;
		margin-bottom: 5px;
	}

	input[type=text],
	input[type=email],
	input[type=phone],
	input[type=password],
	input[type=number],
	input[type=search],
	textarea {
		-webkit-font-smoothing: antialiased;
		-webkit-appearance: none;
		width: 100%;
		padding: 5px;
		border: 1px solid #ccc;
		outline: none;
	}

	input[type="submit"] {
		border-radius: 0;
	}
}