/*  ==========================================================================
    Text Links
    ========================================================================== */

/*
    Block
    ========================================================================== */

a {
    color: $c-white;
    text-decoration: none;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;

    &:after {
        content: '';
        height: 100%;
        width: 100%;
        background: red;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: height ease 150ms;

        @include breakpoint( xlarge ) {
            height: .3vw;
        }
    }

	&:hover,
	&:focus {
		text-decoration: none;

        &:after {
            height: 100%;
        }
	}
}

/*  ==========================================================================
    Buttons
    ========================================================================== */

/*
    Block
    ========================================================================== */
