/*  ==========================================================================
    Lists
    ========================================================================== */
/*
    Reset
    ========================================================================== */

.list--bare,
%list-bare {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}