/*  ==========================================================================
    Main layout styles go here
    ========================================================================== */

/*
    Block
    ========================================================================== */

.l-main {
    margin: $padding / 2;
    max-width: 800px;

    @include breakpoint( medium ) {
        margin: $padding;
    }
}
