// Element specific styles - keep this to a minimum

.infomain{

	margin-top: 50px;
	border-bottom: 1px dotted $primary-color;

	p.text{
		padding:20px 0px 40px 0px;
		width:50%;
		line-height:20px;

	}
}
.infotitle{
	border-top: 1px dotted #000;
	padding:10px 0px 10px 0px;
	border-bottom: 1px dotted #000;
	overflow:auto;

	p {
		margin:0px;
	}
}
.social {
	a {
		border-radius: 40px;
		background: $primary-color;
		width:40px;
		height:40px;
		margin-right:40px;
		display: inline-block;
		line-height: 37px;
		text-align: center;
		padding-top: 3px;
		font-size:24px;
		color: $white;

		&:hover {
			background: lighten($primary-color, 15);
		}
	}

	@include responsive($tablet) {
		text-align: center;
	}
}
