// Element specific styles - keep this to a minimum

.home-text {
	font-family: 'Playfair Display', serif;
	font-size: 70px;
	line-height: 1.4;
	color: #484848;
	margin-top: -15px;

	@include responsive($small-desktop) {
		text-align: center;
		margin-top: 0;
	}

	@include responsive($tablet) {
		font-size: 60px;
	}

	@include responsive($mobile) {
		font-size: 30px;
	}

	&__ultra {
		font-weight: 900;
		font-style: italic;
		color: black;
	}

	&__highlight {
		font-weight: 700;
		text-shadow: 2px 2px 0 yellow;
	}

	&__bold {
		font-weight: 700;
		font-style: italic;
	}
}
.infomain{

	margin-top: 50px;
	border-bottom: 1px dotted $primary-color;

	p.text{
		padding:20px 0px 40px 0px;
		width:50%;
		line-height:20px;

	}
}
.infotitle{
	border-top: 1px dotted #000;
	padding:10px 0px 10px 0px;
	border-bottom: 1px dotted #000;
	overflow:auto;

	p {
		margin:0px;
	}
}
main.infotext {
	padding: 30px 0;
}
.social {
	margin-bottom: 40px;

	a {
		border-radius: 40px;
		background: $primary-color;
		width:40px;
		height:40px;
		margin-right:40px;
		display: inline-block;
		line-height: 37px;
		text-align: center;
		padding-top: 3px;
		font-size:24px;
		color: $white;

		&:hover {
			background: lighten($primary-color, 15);
		}
	}

	@include responsive($tablet) {
		text-align: center;
	}
}
