<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} — Tom Hopcraft</title>

    <!--<link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//fast.fonts.net">-->

    <meta name="description" content="Freelance Developer from Northampton, UK. Specialist in WordPress development." />
    <meta name="keywords" content="web design, ntu, multimedia, wordpress, interactive media, tom hopcraft, chewx, graphic design, nottingham, freelance, chewx, rwd, responsive, responsive web design"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="{{base.url}}/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="{{base.url}}/assets/img/apple-touch-icon.jpg">

    <link rel="stylesheet" href="{{ '/assets/css/scss/main.css' | prepend: base.url }}?{{site.time | date: '%s%N'}}">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

    <div class="wrapper">
        <header class="l-header">
            Tom Hopcraft
        </header>

        <main class="l-main">
            {{ content }}
        </main>

        <footer class="l-footer">
            <a href="mailto:tom@admire.agency">Email</a> / <a href="http://www.twitter.com/chewx" target="_blank">Tweet</a>
        </footer>
    </div>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19652170-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>