<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Tom Hopcraft</title>

    <!--<link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//fast.fonts.net">-->

    <meta name="description" content="Tom Hopcraft is a web designer and front-end developer from Northampton UK. A BA Interactive Media graduate from Nottingham Trent University specialising in Responsive Web Design and Wordpress." />
    <meta name="keywords" content="web design, ntu, multimedia, wordpress, interactive media, tom hopcraft, chewx, graphic design, nottingham, daventry, freelance, chewx, rwd, responsive, responsive web design"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="{{base.url}}/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="{{base.url}}/assets/img/apple-touch-icon.jpg">

    <link rel="stylesheet" href="{{base.url}}/assets/css/scss/main.css?v=2.51">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

    <div class="video-container">
        <video width="320" height="240" autoplay mute loop>
            <source src="{{base.url}}/assets/video/high-six.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="wrapper">
        <header class="l-header">
            Tom Hopcraft
        </header>

        <main class="l-main">
            {{ content }}
        </main>

        <footer class="l-footer">
            <a href="mailto:tom@admire.agency">Email</a> / <a href="http://www.twitter.com/chewx" target="_blank">Tweet</a>
        </footer>
    </div>

    <script type="text/javascript">

        var $body = document.getElementsByTagName( 'body' )[0];
        var $six_trigger = document.getElementsByClassName( 'js-six-trigger' )[0];
        var six_video_active_class = 'show-video';

        $six_trigger.onmouseover = function(){

            $body.classList.add( six_video_active_class );
        }

        $six_trigger.onmouseout = function(){

            $body.classList.remove( six_video_active_class );
        }

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19652170-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>