---
layout: default
---

<article class="object">
    <div class="infomain mt0">
        <header class="infotitle">
            <p class="left">
            	{{ page.title }}
            </p>
            <p class="right">
            	<time>{{ page.date | date_to_string }}</time>
            </p>
        </header>
        <main class="infotext ptb40">
            	{{ content }}
        </main>
        <footer class="ptb40 border--top align--center">
            {% include social-share.html %}
        </footer>
    </div>
</article>

{% include disqus.html %}

<!-- @TODO
<div class="pagination">
    <p class="next"><a href="#">next</a></p>
    <p class="previous"><a href="#">prev</a></p>
</div>
-->
