---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

// Reset using Normalize
@import "base/reset";

// Set variables and reusable mixins/animations
@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/animations";

// Import typical layout sass modules
@import "layout/grid";
@import "base/type";

// Small re-usuable components prefixed with c-
@import "modules/components";

// General site elements
@import "modules/links";
@import "modules/lists";
@import "modules/tables";
@import "modules/forms";

// Large re-usuable modules prefixed with m-
@import "modules/modules";

// SVG icon sizing
@import "modules/icons";

// Specific project styles
@import "layout/site";

// Main layout styles - l-header - l-footer
@import "layout/layout";
@import "layout/header";
@import "layout/footer";

// Specific page styles
@import "layout/pages";

// Print styles
@import "base/print";

// If IE support is needed
@import "layout/ie";

// For anything quick and dirty that needs thrown in
@import "layout/shame";

// Now this is where you put your larger site specfic sections - keep OOCSS - credit - inuit
@import "ui/slideshow";
@import "ui/wordpress";

// Helper must help cascading stylesheets so add last
@import "modules/spacing";
@import "modules/helper";
